<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\ClassLibrary1\packages.config" />
  <repository path="..\src\IBISReporitngUIMaintenanceConsoleApp\packages.config" />
  <repository path="..\src\IBISReportingUIMaintenanceLib\packages.config" />
  <repository path="..\src\IBISUIReportingService\packages.config" />
  <repository path="..\src\MvcApplication1.Tests\packages.config" />
  <repository path="..\src\MvcApplication1\packages.config" />
  <repository path="..\src\WebApi.Data.MySql\packages.config" />
  <repository path="..\src\WebApiBia.Common\packages.config" />
  <repository path="..\src\WebApiBia.Dashboard.UiControls\packages.config" />
  <repository path="..\src\WebApiBia.Dashboard\packages.config" />
  <repository path="..\src\WebApiBia.Data.MongoDb\packages.config" />
  <repository path="..\src\WebApiBia.Data.MySql\packages.config" />
  <repository path="..\src\WebApiBia.Data.OrientDb\packages.config" />
  <repository path="..\src\WebApiBia.Data.Postgres\packages.config" />
  <repository path="..\src\WebApiBia.Data.Reports\packages.config" />
  <repository path="..\src\WebApiBia.Data.SQ\packages.config" />
  <repository path="..\src\WebApiBia.Data\packages.config" />
  <repository path="..\src\WebApiBia.Web.Api.Tests\packages.config" />
  <repository path="..\src\WebApiBia.Web.Api\packages.config" />
  <repository path="..\src\WebApiBia.Web.Common\packages.config" />
  <repository path="..\src\WebApiBia.Web.Models.Factory\packages.config" />
  <repository path="..\src\WebApiBia.Web.Models\packages.config" />
</repositories>